html {
  height: 100%;
  width: 100%;
}

* { margin : 0px ; box-sizing : border-box;}

header {color:White; background:Green;}

main {padding: 5px; border: 1px solid Orange;}

nav li {display:inline; border: 1px solid Green;}

main figure img { display: block; align-content: center; background:Orange; margin-left: auto; margin-right:auto; padding: 5px; border: 30px navy;}

figcaption { display: block;color:Navy;}

footer {font-style: italic;}